.promo {
    min-height: 100vh;
    position: relative;
    background: url('../img/main_bg.jpg') no-repeat 50%/cover;
    padding-top: 205px;
    .textA {
        width: 510px;
        display: block;
        margin-left: 780px;
        
    }

    &__title {
        width: 535px;
        margin-top: 10px;
    }
    &__subtitle {
        position: relative;
        padding-left: 10px;
        z-index: 2;
        @include before_circle;
        
    }
    &__btns {
        margin-top: 25px;
        display: flex;
        width: 250px;
        align-items: center;
        justify-content: space-between;
       
    }
    &__link {
        color: black;
        text-decoration: none;
        font-weight: bold;
        transition: all .3s;
        &:hover {
            color: rgb(0, 0, 0);
            text-decoration: none;
            transform: scale(1.05);
        }
    }

}

